{{if not .Items}} <div>No pending items</div> {{end}}

{{if .Items}}
    <div class="mb-4">Total {{ .Total }} pending requests</div>

    <div class="px-4 sm:px-6 lg:px-8">
        <div class="mt-8 flow-root">
            <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
                    <table class="min-w-full divide-y divide-gray-300">
                        <thead>
                        <tr>
                            <th scope="col" class="py-3.5 px-3 text-left text-sm font-semibold text-gray-900">Id</th>
                            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">Priority</th>
                            <th scope="col" class="py-3.5 px-3 text-left text-sm font-semibold text-gray-900">Status</th>
                            <th scope="col" class="py-3.5 px-3 text-left text-sm font-semibold text-gray-900">Retries</th>
                            <th scope="col" class="py-3.5 px-3 text-left text-sm font-semibold text-gray-900">Url</th>
                        </tr>
                        </thead>
                        <tbody class="divide-y divide-gray-200">
                        {{range .Items}}
                            <tr>
                                <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">{{ .Id }}</td>
                                <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0">{{ .Priority }}</td>
                                <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">{{ .Status }}</td>
                                <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">{{ .Retries }}</td>
                                <td class="whitespace-nowrap py-4 px-3 text-sm text-gray-500">{{ .Url }}</td>
                            </tr>
                        {{end}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{{end}}

